.comment-container {
    @apply min-h-[400px];

    &--header {
        @apply text-2xl mb-5
    }
}

.comment {
    @apply flex flex-col w-full rounded-lg my-2 p-5 relative;

    &--addition {
        @apply flex justify-end w-full items-center;
    }

    &--buttons {
        button {
            @apply text-[10px];
        }
    }

    &--text {
        @apply break-words;
    }

    &--owner {
        @apply text-[10px] flex justify-between items-center w-full;

        &__name {
            @apply font-semibold mr-2 text-base;
        }
    }

    &--top-level {
        @apply flex justify-end w-full my-2;
    }

    &--elipsis {
        @apply w-full flex justify-end;
    }

    &--pop-up {
        @apply flex flex-col items-center p-10;
    }

    &--neutral {
        @apply text-gray-500;
    }

    &--like {
        @apply text-green-500;
    }

    &--dislike {
        @apply text-red-500;
    }

    &--work {
        @apply text-blue-500;
    }
}