.ratings {
    &--rating-container {
        @apply flex items-center;
    }

    &--content {
        @apply flex pb-2;

        &__label {
            @apply text-xs w-20;
        }

        &__action {
            @apply text-sm cursor-pointer text-blue-500 ml-2;
        }
    }

}