.estates-table {
    @apply w-full;

    &--header-content {
        @apply w-full flex justify-between items-center mb-4;

        button {
            @apply text-blue-700;
        }
    }

    &--header {
        @apply font-semibold;
    }

    &--filters {
        @apply mb-4 px-4 border-b-2 py-4;
    }

    &--content {
        @apply w-full flex flex-col items-center;
    }
}