.subcomment-container {
    @apply min-h-[400px];

    &--header {
        @apply text-2xl mb-5
    }
}

.subcomment {
    &--comments {
        @apply flex flex-col;
    }

    &--comment {
        @apply flex flex-col w-full rounded-lg my-2 p-5 relative;

        &__addition {
            @apply flex justify-between w-full items-center;
        }

        &__buttons {
            button {
                @apply text-[10px];
            }
        }

        &__owner {
            @apply text-[10px];
        }

        &__elipsis {
            @apply flex justify-end w-full h-4;
        }

        &__pop-up {
            @apply flex flex-col items-center p-10;
        }
    }
}