.estate-card {
    @apply max-w-2xl;

    &--header {
        margin-bottom: 8px;
    }

    &--top-level {
        @apply flex justify-between items-center;
    }

    &--price {
        @apply text-lg font-semibold;
    }

    &--address {
        @apply text-sm text-gray-600 mb-1;
    }

    &--details {
        @apply text-sm text-gray-500;
    }
}