.estate-details {
    @apply flex flex-col w-full items-center;

    &--header {
        @apply text-2xl flex w-full justify-center;
    }

    &--info {
        @apply mt-10 flex justify-around w-full
    }

    &--comments {
        @apply w-full;
    }

    &--add-comment {
        @apply w-full flex justify-end border-b-2 pb-4;
    }
}