.estate-filters-form {
    @apply w-full flex justify-end items-end;

    &--control {
        @apply w-32;
    }

    &--select {
        @apply mb-1 min-w-fit;
    }

    &--label {
        @apply whitespace-nowrap;
    }
}