.estate-filters-form {
    @apply items-end justify-around sm:justify-between flex w-full;

    &--left {
        @apply items-end flex;
    }

    &--right {
        @apply flex items-end;
    }

    &--control {
        min-width: 8rem !important;
    }

    &--select {
        @apply mb-1 min-w-fit mr-2 sm:mr-4;
    }

    &--label {
        @apply whitespace-nowrap;
    }
}